*{
    background-color: rgb(132, 181, 224);
    /* margin: 0px;
    padding: 0px; */
}

.container{
    width: 800px;
    height: 400px;
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    
}
.col1{
    width: 200px;
    height: 200px;
    background-color: brown;
    padding: 15px;
    margin: 40px;
    flex: 2;
    /* display: flex; */
    /* display: inline-block; */
}
.col2{
    width: 200px;
    height: 200px;
    background-color: brown;
    padding: 15px;
    margin: 40px;
    flex: 1;
    /* display: flex; */
    /* display: inline-block; */
}